.is-whole {
    height: 100vh;
}

.is-full-page {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0px; 
    left: 0px;
    background-color: white;
}

.is-force-center {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
}
.image.is-40x40 {
    height: 40px;
    width: 40px;
}
/*
* JUSTIFY: CENTER
*/
.is-content-center {
    justify-content: center !important;
}

.is-pr-5 {
    padding-right: 5px;
}
.is-pb-5 {
    padding-bottom: 5px;
}

.is-p-75rem {
    padding: .75rem;
}

/*
* MARGIN: TOP
*/
.is-mt-5 {
    margin-top: 5px;
}
.is-mt-10 {
    margin-top:10px;
}
.is-mt-50 {
    margin-top: 50px;
}

/*
* MARGIN: BOTTOM
*/
.is-mb-0 {
    margin-bottom: 0px !important;
}
.is-mb-5 {
    margin-bottom: 5px !important;
}
.is-mb-10 {
    margin-bottom: 10px;
}

.is-mr-10 {
    margin-right: 10px;
}


.is-asset-bg {
    background-color:#08009E;
    color:white;
}

.border {
    background-color:#08009E;
}
.swal2-title {
    margin: 0px !important;
    font-size: 1rem !important;
}

.swal2-icon {
    width:2.5em !important;
    height:2.5em !important;

}


.swal2-success-line-tip {
    width: 1em !important;
    left: 0.2em !important;
    top:    1.5em !important;
}

.swal2-success-line-long {
    width: 2.5em !important;
    right: -0.5em !important;
    top:    1em !important;
}


.is-anti-button {
    border: none;
    background: none;
    color: royalblue;
    cursor: pointer;
}

.is-new-link {
    cursor:pointer;
}

.is-new-link:hover, .is-new-link:focus {
    color: grey !important;
}

.is-too-small {
    font-size: .67em;
    color: gray
}

.is-cust-bottom {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    color: #069;
    cursor: pointer;
}

.tabs button {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
 
}

.tabs button:hover {
    border-bottom-color: #363636;
    color: #363636;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

.search {
    cursor: pointer;
}

.search:hover, .search:focus {
    background-color: #3273dc;
}

.is-width-100 {
    width: 100%;
}
.is-pointer {
    cursor: pointer !important;
    pointer-events: initial !important;
    color: red !important;
}


